

FileETag MTime Size
<ifmodule mod_expires.c>
    <filesmatch ".(jpg|gif|png|css|js|ico)$">
         ExpiresActive on
         ExpiresDefault "access plus 1 year"
     </filesmatch>
</ifmodule>


#Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^citations.fam-martel.eu$
RewriteRule ^(.*)$ http://www.citation-et-proverbe.fr/$1 [R=301,L] 

#Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^citation-et-proverbe.fr$
RewriteRule ^(.*)$ http://www.citation-et-proverbe.fr/$1 [R=301,L] 


Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
